$/improper:bytype137 @/improper:polymer/c3-ns-c-o $/atom:polymers[0]/C1 $/atom:polymers[0]/O1 $/atom:polymers[0]/C2 $/atom:polymers[0]/N1
$/improper:bytype138 @/improper:polymer/c3-ns-c-o $/atom:polymers[0]/C7 $/atom:polymers[0]/O5 $/atom:polymers[0]/C8 $/atom:polymers[0]/N2
$/improper:bytype139 @/improper:polymer/c3-ns-c-o $/atom:polymers[0]/C13 $/atom:polymers[0]/O9 $/atom:polymers[0]/C14 $/atom:polymers[0]/N3
$/improper:bytype140 @/improper:polymer/c3-ns-c-o $/atom:polymers[0]/C19 $/atom:polymers[0]/O13 $/atom:polymers[0]/C20 $/atom:polymers[0]/N4
$/improper:bytype141 @/improper:polymer/c3-ns-c-o $/atom:polymers[1]/C1 $/atom:polymers[1]/O1 $/atom:polymers[1]/C2 $/atom:polymers[1]/N1
$/improper:bytype142 @/improper:polymer/c3-ns-c-o $/atom:polymers[1]/C7 $/atom:polymers[1]/O5 $/atom:polymers[1]/C8 $/atom:polymers[1]/N2
$/improper:bytype143 @/improper:polymer/c3-ns-c-o $/atom:polymers[1]/C13 $/atom:polymers[1]/O9 $/atom:polymers[1]/C14 $/atom:polymers[1]/N3
$/improper:bytype144 @/improper:polymer/c3-ns-c-o $/atom:polymers[1]/C19 $/atom:polymers[1]/O13 $/atom:polymers[1]/C20 $/atom:polymers[1]/N4
$/improper:bytype145 @/improper:polymer/c3-ns-c-o $/atom:polymers[2]/C1 $/atom:polymers[2]/O1 $/atom:polymers[2]/C2 $/atom:polymers[2]/N1
$/improper:bytype146 @/improper:polymer/c3-ns-c-o $/atom:polymers[2]/C7 $/atom:polymers[2]/O5 $/atom:polymers[2]/C8 $/atom:polymers[2]/N2
$/improper:bytype147 @/improper:polymer/c3-ns-c-o $/atom:polymers[2]/C13 $/atom:polymers[2]/O9 $/atom:polymers[2]/C14 $/atom:polymers[2]/N3
$/improper:bytype148 @/improper:polymer/c3-ns-c-o $/atom:polymers[2]/C19 $/atom:polymers[2]/O13 $/atom:polymers[2]/C20 $/atom:polymers[2]/N4
$/improper:bytype149 @/improper:polymer/c3-ns-c-o $/atom:polymers[3]/C1 $/atom:polymers[3]/O1 $/atom:polymers[3]/C2 $/atom:polymers[3]/N1
$/improper:bytype150 @/improper:polymer/c3-ns-c-o $/atom:polymers[3]/C7 $/atom:polymers[3]/O5 $/atom:polymers[3]/C8 $/atom:polymers[3]/N2
$/improper:bytype151 @/improper:polymer/c3-ns-c-o $/atom:polymers[3]/C13 $/atom:polymers[3]/O9 $/atom:polymers[3]/C14 $/atom:polymers[3]/N3
$/improper:bytype152 @/improper:polymer/c3-ns-c-o $/atom:polymers[3]/C19 $/atom:polymers[3]/O13 $/atom:polymers[3]/C20 $/atom:polymers[3]/N4
$/improper:bytype153 @/improper:polymer/c3-ns-c-o $/atom:polymers[4]/C1 $/atom:polymers[4]/O1 $/atom:polymers[4]/C2 $/atom:polymers[4]/N1
$/improper:bytype154 @/improper:polymer/c3-ns-c-o $/atom:polymers[4]/C7 $/atom:polymers[4]/O5 $/atom:polymers[4]/C8 $/atom:polymers[4]/N2
$/improper:bytype155 @/improper:polymer/c3-ns-c-o $/atom:polymers[4]/C13 $/atom:polymers[4]/O9 $/atom:polymers[4]/C14 $/atom:polymers[4]/N3
$/improper:bytype156 @/improper:polymer/c3-ns-c-o $/atom:polymers[4]/C19 $/atom:polymers[4]/O13 $/atom:polymers[4]/C20 $/atom:polymers[4]/N4
$/improper:bytype157 @/improper:polymer/c3-ns-c-o $/atom:polymers[5]/C1 $/atom:polymers[5]/O1 $/atom:polymers[5]/C2 $/atom:polymers[5]/N1
$/improper:bytype158 @/improper:polymer/c3-ns-c-o $/atom:polymers[5]/C7 $/atom:polymers[5]/O5 $/atom:polymers[5]/C8 $/atom:polymers[5]/N2
$/improper:bytype159 @/improper:polymer/c3-ns-c-o $/atom:polymers[5]/C13 $/atom:polymers[5]/O9 $/atom:polymers[5]/C14 $/atom:polymers[5]/N3
$/improper:bytype160 @/improper:polymer/c3-ns-c-o $/atom:polymers[5]/C19 $/atom:polymers[5]/O13 $/atom:polymers[5]/C20 $/atom:polymers[5]/N4
$/improper:bytype161 @/improper:polymer/c3-ns-c-o $/atom:polymers[6]/C1 $/atom:polymers[6]/O1 $/atom:polymers[6]/C2 $/atom:polymers[6]/N1
$/improper:bytype162 @/improper:polymer/c3-ns-c-o $/atom:polymers[6]/C7 $/atom:polymers[6]/O5 $/atom:polymers[6]/C8 $/atom:polymers[6]/N2
$/improper:bytype163 @/improper:polymer/c3-ns-c-o $/atom:polymers[6]/C13 $/atom:polymers[6]/O9 $/atom:polymers[6]/C14 $/atom:polymers[6]/N3
$/improper:bytype164 @/improper:polymer/c3-ns-c-o $/atom:polymers[6]/C19 $/atom:polymers[6]/O13 $/atom:polymers[6]/C20 $/atom:polymers[6]/N4
$/improper:bytype165 @/improper:polymer/c3-ns-c-o $/atom:polymers[7]/C1 $/atom:polymers[7]/O1 $/atom:polymers[7]/C2 $/atom:polymers[7]/N1
$/improper:bytype166 @/improper:polymer/c3-ns-c-o $/atom:polymers[7]/C7 $/atom:polymers[7]/O5 $/atom:polymers[7]/C8 $/atom:polymers[7]/N2
$/improper:bytype167 @/improper:polymer/c3-ns-c-o $/atom:polymers[7]/C13 $/atom:polymers[7]/O9 $/atom:polymers[7]/C14 $/atom:polymers[7]/N3
$/improper:bytype168 @/improper:polymer/c3-ns-c-o $/atom:polymers[7]/C19 $/atom:polymers[7]/O13 $/atom:polymers[7]/C20 $/atom:polymers[7]/N4
$/improper:bytype169 @/improper:polymer/c3-ns-c-o $/atom:polymers[8]/C1 $/atom:polymers[8]/O1 $/atom:polymers[8]/C2 $/atom:polymers[8]/N1
$/improper:bytype170 @/improper:polymer/c3-ns-c-o $/atom:polymers[8]/C7 $/atom:polymers[8]/O5 $/atom:polymers[8]/C8 $/atom:polymers[8]/N2
$/improper:bytype171 @/improper:polymer/c3-ns-c-o $/atom:polymers[8]/C13 $/atom:polymers[8]/O9 $/atom:polymers[8]/C14 $/atom:polymers[8]/N3
$/improper:bytype172 @/improper:polymer/c3-ns-c-o $/atom:polymers[8]/C19 $/atom:polymers[8]/O13 $/atom:polymers[8]/C20 $/atom:polymers[8]/N4
$/improper:bytype173 @/improper:polymer/c3-ns-c-o $/atom:polymers[9]/C1 $/atom:polymers[9]/O1 $/atom:polymers[9]/C2 $/atom:polymers[9]/N1
$/improper:bytype174 @/improper:polymer/c3-ns-c-o $/atom:polymers[9]/C7 $/atom:polymers[9]/O5 $/atom:polymers[9]/C8 $/atom:polymers[9]/N2
$/improper:bytype175 @/improper:polymer/c3-ns-c-o $/atom:polymers[9]/C13 $/atom:polymers[9]/O9 $/atom:polymers[9]/C14 $/atom:polymers[9]/N3
$/improper:bytype176 @/improper:polymer/c3-ns-c-o $/atom:polymers[9]/C19 $/atom:polymers[9]/O13 $/atom:polymers[9]/C20 $/atom:polymers[9]/N4
$/improper:bytype177 @/improper:polymer/c3-ns-c-o $/atom:polymers[10]/C1 $/atom:polymers[10]/O1 $/atom:polymers[10]/C2 $/atom:polymers[10]/N1
$/improper:bytype178 @/improper:polymer/c3-ns-c-o $/atom:polymers[10]/C7 $/atom:polymers[10]/O5 $/atom:polymers[10]/C8 $/atom:polymers[10]/N2
$/improper:bytype179 @/improper:polymer/c3-ns-c-o $/atom:polymers[10]/C13 $/atom:polymers[10]/O9 $/atom:polymers[10]/C14 $/atom:polymers[10]/N3
$/improper:bytype180 @/improper:polymer/c3-ns-c-o $/atom:polymers[10]/C19 $/atom:polymers[10]/O13 $/atom:polymers[10]/C20 $/atom:polymers[10]/N4
$/improper:bytype181 @/improper:polymer/c3-ns-c-o $/atom:polymers[11]/C1 $/atom:polymers[11]/O1 $/atom:polymers[11]/C2 $/atom:polymers[11]/N1
$/improper:bytype182 @/improper:polymer/c3-ns-c-o $/atom:polymers[11]/C7 $/atom:polymers[11]/O5 $/atom:polymers[11]/C8 $/atom:polymers[11]/N2
$/improper:bytype183 @/improper:polymer/c3-ns-c-o $/atom:polymers[11]/C13 $/atom:polymers[11]/O9 $/atom:polymers[11]/C14 $/atom:polymers[11]/N3
$/improper:bytype184 @/improper:polymer/c3-ns-c-o $/atom:polymers[11]/C19 $/atom:polymers[11]/O13 $/atom:polymers[11]/C20 $/atom:polymers[11]/N4
$/improper:bytype185 @/improper:polymer/c3-ns-c-o $/atom:polymers[12]/C1 $/atom:polymers[12]/O1 $/atom:polymers[12]/C2 $/atom:polymers[12]/N1
$/improper:bytype186 @/improper:polymer/c3-ns-c-o $/atom:polymers[12]/C7 $/atom:polymers[12]/O5 $/atom:polymers[12]/C8 $/atom:polymers[12]/N2
$/improper:bytype187 @/improper:polymer/c3-ns-c-o $/atom:polymers[12]/C13 $/atom:polymers[12]/O9 $/atom:polymers[12]/C14 $/atom:polymers[12]/N3
$/improper:bytype188 @/improper:polymer/c3-ns-c-o $/atom:polymers[12]/C19 $/atom:polymers[12]/O13 $/atom:polymers[12]/C20 $/atom:polymers[12]/N4
$/improper:bytype189 @/improper:polymer/c3-ns-c-o $/atom:polymers[13]/C1 $/atom:polymers[13]/O1 $/atom:polymers[13]/C2 $/atom:polymers[13]/N1
$/improper:bytype190 @/improper:polymer/c3-ns-c-o $/atom:polymers[13]/C7 $/atom:polymers[13]/O5 $/atom:polymers[13]/C8 $/atom:polymers[13]/N2
$/improper:bytype191 @/improper:polymer/c3-ns-c-o $/atom:polymers[13]/C13 $/atom:polymers[13]/O9 $/atom:polymers[13]/C14 $/atom:polymers[13]/N3
$/improper:bytype192 @/improper:polymer/c3-ns-c-o $/atom:polymers[13]/C19 $/atom:polymers[13]/O13 $/atom:polymers[13]/C20 $/atom:polymers[13]/N4
$/improper:bytype193 @/improper:polymer/c3-ns-c-o $/atom:polymers[14]/C1 $/atom:polymers[14]/O1 $/atom:polymers[14]/C2 $/atom:polymers[14]/N1
$/improper:bytype194 @/improper:polymer/c3-ns-c-o $/atom:polymers[14]/C7 $/atom:polymers[14]/O5 $/atom:polymers[14]/C8 $/atom:polymers[14]/N2
$/improper:bytype195 @/improper:polymer/c3-ns-c-o $/atom:polymers[14]/C13 $/atom:polymers[14]/O9 $/atom:polymers[14]/C14 $/atom:polymers[14]/N3
$/improper:bytype196 @/improper:polymer/c3-ns-c-o $/atom:polymers[14]/C19 $/atom:polymers[14]/O13 $/atom:polymers[14]/C20 $/atom:polymers[14]/N4
$/improper:bytype197 @/improper:polymer/c3-ns-c-o $/atom:polymers[15]/C1 $/atom:polymers[15]/O1 $/atom:polymers[15]/C2 $/atom:polymers[15]/N1
$/improper:bytype198 @/improper:polymer/c3-ns-c-o $/atom:polymers[15]/C7 $/atom:polymers[15]/O5 $/atom:polymers[15]/C8 $/atom:polymers[15]/N2
$/improper:bytype199 @/improper:polymer/c3-ns-c-o $/atom:polymers[15]/C13 $/atom:polymers[15]/O9 $/atom:polymers[15]/C14 $/atom:polymers[15]/N3
$/improper:bytype200 @/improper:polymer/c3-ns-c-o $/atom:polymers[15]/C19 $/atom:polymers[15]/O13 $/atom:polymers[15]/C20 $/atom:polymers[15]/N4
$/improper:bytype201 @/improper:polymer/c3-ns-c-o $/atom:polymers[16]/C1 $/atom:polymers[16]/O1 $/atom:polymers[16]/C2 $/atom:polymers[16]/N1
$/improper:bytype202 @/improper:polymer/c3-ns-c-o $/atom:polymers[16]/C7 $/atom:polymers[16]/O5 $/atom:polymers[16]/C8 $/atom:polymers[16]/N2
$/improper:bytype203 @/improper:polymer/c3-ns-c-o $/atom:polymers[16]/C13 $/atom:polymers[16]/O9 $/atom:polymers[16]/C14 $/atom:polymers[16]/N3
$/improper:bytype204 @/improper:polymer/c3-ns-c-o $/atom:polymers[16]/C19 $/atom:polymers[16]/O13 $/atom:polymers[16]/C20 $/atom:polymers[16]/N4
$/improper:bytype205 @/improper:polymer/c-c3-ns-hn $/atom:polymers[0]/C2 $/atom:polymers[0]/H1 $/atom:polymers[0]/N1 $/atom:polymers[0]/C3
$/improper:bytype206 @/improper:polymer/c-c3-ns-hn $/atom:polymers[0]/C8 $/atom:polymers[0]/H10 $/atom:polymers[0]/N2 $/atom:polymers[0]/C9
$/improper:bytype207 @/improper:polymer/c-c3-ns-hn $/atom:polymers[0]/C14 $/atom:polymers[0]/H20 $/atom:polymers[0]/N3 $/atom:polymers[0]/C15
$/improper:bytype208 @/improper:polymer/c-c3-ns-hn $/atom:polymers[0]/C20 $/atom:polymers[0]/H30 $/atom:polymers[0]/N4 $/atom:polymers[0]/C21
$/improper:bytype209 @/improper:polymer/c-c3-ns-hn $/atom:polymers[1]/C2 $/atom:polymers[1]/H1 $/atom:polymers[1]/N1 $/atom:polymers[1]/C3
$/improper:bytype210 @/improper:polymer/c-c3-ns-hn $/atom:polymers[1]/C8 $/atom:polymers[1]/H10 $/atom:polymers[1]/N2 $/atom:polymers[1]/C9
$/improper:bytype211 @/improper:polymer/c-c3-ns-hn $/atom:polymers[1]/C14 $/atom:polymers[1]/H20 $/atom:polymers[1]/N3 $/atom:polymers[1]/C15
$/improper:bytype212 @/improper:polymer/c-c3-ns-hn $/atom:polymers[1]/C20 $/atom:polymers[1]/H30 $/atom:polymers[1]/N4 $/atom:polymers[1]/C21
$/improper:bytype213 @/improper:polymer/c-c3-ns-hn $/atom:polymers[2]/C2 $/atom:polymers[2]/H1 $/atom:polymers[2]/N1 $/atom:polymers[2]/C3
$/improper:bytype214 @/improper:polymer/c-c3-ns-hn $/atom:polymers[2]/C8 $/atom:polymers[2]/H10 $/atom:polymers[2]/N2 $/atom:polymers[2]/C9
$/improper:bytype215 @/improper:polymer/c-c3-ns-hn $/atom:polymers[2]/C14 $/atom:polymers[2]/H20 $/atom:polymers[2]/N3 $/atom:polymers[2]/C15
$/improper:bytype216 @/improper:polymer/c-c3-ns-hn $/atom:polymers[2]/C20 $/atom:polymers[2]/H30 $/atom:polymers[2]/N4 $/atom:polymers[2]/C21
$/improper:bytype217 @/improper:polymer/c-c3-ns-hn $/atom:polymers[3]/C2 $/atom:polymers[3]/H1 $/atom:polymers[3]/N1 $/atom:polymers[3]/C3
$/improper:bytype218 @/improper:polymer/c-c3-ns-hn $/atom:polymers[3]/C8 $/atom:polymers[3]/H10 $/atom:polymers[3]/N2 $/atom:polymers[3]/C9
$/improper:bytype219 @/improper:polymer/c-c3-ns-hn $/atom:polymers[3]/C14 $/atom:polymers[3]/H20 $/atom:polymers[3]/N3 $/atom:polymers[3]/C15
$/improper:bytype220 @/improper:polymer/c-c3-ns-hn $/atom:polymers[3]/C20 $/atom:polymers[3]/H30 $/atom:polymers[3]/N4 $/atom:polymers[3]/C21
$/improper:bytype221 @/improper:polymer/c-c3-ns-hn $/atom:polymers[4]/C2 $/atom:polymers[4]/H1 $/atom:polymers[4]/N1 $/atom:polymers[4]/C3
$/improper:bytype222 @/improper:polymer/c-c3-ns-hn $/atom:polymers[4]/C8 $/atom:polymers[4]/H10 $/atom:polymers[4]/N2 $/atom:polymers[4]/C9
$/improper:bytype223 @/improper:polymer/c-c3-ns-hn $/atom:polymers[4]/C14 $/atom:polymers[4]/H20 $/atom:polymers[4]/N3 $/atom:polymers[4]/C15
$/improper:bytype224 @/improper:polymer/c-c3-ns-hn $/atom:polymers[4]/C20 $/atom:polymers[4]/H30 $/atom:polymers[4]/N4 $/atom:polymers[4]/C21
$/improper:bytype225 @/improper:polymer/c-c3-ns-hn $/atom:polymers[5]/C2 $/atom:polymers[5]/H1 $/atom:polymers[5]/N1 $/atom:polymers[5]/C3
$/improper:bytype226 @/improper:polymer/c-c3-ns-hn $/atom:polymers[5]/C8 $/atom:polymers[5]/H10 $/atom:polymers[5]/N2 $/atom:polymers[5]/C9
$/improper:bytype227 @/improper:polymer/c-c3-ns-hn $/atom:polymers[5]/C14 $/atom:polymers[5]/H20 $/atom:polymers[5]/N3 $/atom:polymers[5]/C15
$/improper:bytype228 @/improper:polymer/c-c3-ns-hn $/atom:polymers[5]/C20 $/atom:polymers[5]/H30 $/atom:polymers[5]/N4 $/atom:polymers[5]/C21
$/improper:bytype229 @/improper:polymer/c-c3-ns-hn $/atom:polymers[6]/C2 $/atom:polymers[6]/H1 $/atom:polymers[6]/N1 $/atom:polymers[6]/C3
$/improper:bytype230 @/improper:polymer/c-c3-ns-hn $/atom:polymers[6]/C8 $/atom:polymers[6]/H10 $/atom:polymers[6]/N2 $/atom:polymers[6]/C9
$/improper:bytype231 @/improper:polymer/c-c3-ns-hn $/atom:polymers[6]/C14 $/atom:polymers[6]/H20 $/atom:polymers[6]/N3 $/atom:polymers[6]/C15
$/improper:bytype232 @/improper:polymer/c-c3-ns-hn $/atom:polymers[6]/C20 $/atom:polymers[6]/H30 $/atom:polymers[6]/N4 $/atom:polymers[6]/C21
$/improper:bytype233 @/improper:polymer/c-c3-ns-hn $/atom:polymers[7]/C2 $/atom:polymers[7]/H1 $/atom:polymers[7]/N1 $/atom:polymers[7]/C3
$/improper:bytype234 @/improper:polymer/c-c3-ns-hn $/atom:polymers[7]/C8 $/atom:polymers[7]/H10 $/atom:polymers[7]/N2 $/atom:polymers[7]/C9
$/improper:bytype235 @/improper:polymer/c-c3-ns-hn $/atom:polymers[7]/C14 $/atom:polymers[7]/H20 $/atom:polymers[7]/N3 $/atom:polymers[7]/C15
$/improper:bytype236 @/improper:polymer/c-c3-ns-hn $/atom:polymers[7]/C20 $/atom:polymers[7]/H30 $/atom:polymers[7]/N4 $/atom:polymers[7]/C21
$/improper:bytype237 @/improper:polymer/c-c3-ns-hn $/atom:polymers[8]/C2 $/atom:polymers[8]/H1 $/atom:polymers[8]/N1 $/atom:polymers[8]/C3
$/improper:bytype238 @/improper:polymer/c-c3-ns-hn $/atom:polymers[8]/C8 $/atom:polymers[8]/H10 $/atom:polymers[8]/N2 $/atom:polymers[8]/C9
$/improper:bytype239 @/improper:polymer/c-c3-ns-hn $/atom:polymers[8]/C14 $/atom:polymers[8]/H20 $/atom:polymers[8]/N3 $/atom:polymers[8]/C15
$/improper:bytype240 @/improper:polymer/c-c3-ns-hn $/atom:polymers[8]/C20 $/atom:polymers[8]/H30 $/atom:polymers[8]/N4 $/atom:polymers[8]/C21
$/improper:bytype241 @/improper:polymer/c-c3-ns-hn $/atom:polymers[9]/C2 $/atom:polymers[9]/H1 $/atom:polymers[9]/N1 $/atom:polymers[9]/C3
$/improper:bytype242 @/improper:polymer/c-c3-ns-hn $/atom:polymers[9]/C8 $/atom:polymers[9]/H10 $/atom:polymers[9]/N2 $/atom:polymers[9]/C9
$/improper:bytype243 @/improper:polymer/c-c3-ns-hn $/atom:polymers[9]/C14 $/atom:polymers[9]/H20 $/atom:polymers[9]/N3 $/atom:polymers[9]/C15
$/improper:bytype244 @/improper:polymer/c-c3-ns-hn $/atom:polymers[9]/C20 $/atom:polymers[9]/H30 $/atom:polymers[9]/N4 $/atom:polymers[9]/C21
$/improper:bytype245 @/improper:polymer/c-c3-ns-hn $/atom:polymers[10]/C2 $/atom:polymers[10]/H1 $/atom:polymers[10]/N1 $/atom:polymers[10]/C3
$/improper:bytype246 @/improper:polymer/c-c3-ns-hn $/atom:polymers[10]/C8 $/atom:polymers[10]/H10 $/atom:polymers[10]/N2 $/atom:polymers[10]/C9
$/improper:bytype247 @/improper:polymer/c-c3-ns-hn $/atom:polymers[10]/C14 $/atom:polymers[10]/H20 $/atom:polymers[10]/N3 $/atom:polymers[10]/C15
$/improper:bytype248 @/improper:polymer/c-c3-ns-hn $/atom:polymers[10]/C20 $/atom:polymers[10]/H30 $/atom:polymers[10]/N4 $/atom:polymers[10]/C21
$/improper:bytype249 @/improper:polymer/c-c3-ns-hn $/atom:polymers[11]/C2 $/atom:polymers[11]/H1 $/atom:polymers[11]/N1 $/atom:polymers[11]/C3
$/improper:bytype250 @/improper:polymer/c-c3-ns-hn $/atom:polymers[11]/C8 $/atom:polymers[11]/H10 $/atom:polymers[11]/N2 $/atom:polymers[11]/C9
$/improper:bytype251 @/improper:polymer/c-c3-ns-hn $/atom:polymers[11]/C14 $/atom:polymers[11]/H20 $/atom:polymers[11]/N3 $/atom:polymers[11]/C15
$/improper:bytype252 @/improper:polymer/c-c3-ns-hn $/atom:polymers[11]/C20 $/atom:polymers[11]/H30 $/atom:polymers[11]/N4 $/atom:polymers[11]/C21
$/improper:bytype253 @/improper:polymer/c-c3-ns-hn $/atom:polymers[12]/C2 $/atom:polymers[12]/H1 $/atom:polymers[12]/N1 $/atom:polymers[12]/C3
$/improper:bytype254 @/improper:polymer/c-c3-ns-hn $/atom:polymers[12]/C8 $/atom:polymers[12]/H10 $/atom:polymers[12]/N2 $/atom:polymers[12]/C9
$/improper:bytype255 @/improper:polymer/c-c3-ns-hn $/atom:polymers[12]/C14 $/atom:polymers[12]/H20 $/atom:polymers[12]/N3 $/atom:polymers[12]/C15
$/improper:bytype256 @/improper:polymer/c-c3-ns-hn $/atom:polymers[12]/C20 $/atom:polymers[12]/H30 $/atom:polymers[12]/N4 $/atom:polymers[12]/C21
$/improper:bytype257 @/improper:polymer/c-c3-ns-hn $/atom:polymers[13]/C2 $/atom:polymers[13]/H1 $/atom:polymers[13]/N1 $/atom:polymers[13]/C3
$/improper:bytype258 @/improper:polymer/c-c3-ns-hn $/atom:polymers[13]/C8 $/atom:polymers[13]/H10 $/atom:polymers[13]/N2 $/atom:polymers[13]/C9
$/improper:bytype259 @/improper:polymer/c-c3-ns-hn $/atom:polymers[13]/C14 $/atom:polymers[13]/H20 $/atom:polymers[13]/N3 $/atom:polymers[13]/C15
$/improper:bytype260 @/improper:polymer/c-c3-ns-hn $/atom:polymers[13]/C20 $/atom:polymers[13]/H30 $/atom:polymers[13]/N4 $/atom:polymers[13]/C21
$/improper:bytype261 @/improper:polymer/c-c3-ns-hn $/atom:polymers[14]/C2 $/atom:polymers[14]/H1 $/atom:polymers[14]/N1 $/atom:polymers[14]/C3
$/improper:bytype262 @/improper:polymer/c-c3-ns-hn $/atom:polymers[14]/C8 $/atom:polymers[14]/H10 $/atom:polymers[14]/N2 $/atom:polymers[14]/C9
$/improper:bytype263 @/improper:polymer/c-c3-ns-hn $/atom:polymers[14]/C14 $/atom:polymers[14]/H20 $/atom:polymers[14]/N3 $/atom:polymers[14]/C15
$/improper:bytype264 @/improper:polymer/c-c3-ns-hn $/atom:polymers[14]/C20 $/atom:polymers[14]/H30 $/atom:polymers[14]/N4 $/atom:polymers[14]/C21
$/improper:bytype265 @/improper:polymer/c-c3-ns-hn $/atom:polymers[15]/C2 $/atom:polymers[15]/H1 $/atom:polymers[15]/N1 $/atom:polymers[15]/C3
$/improper:bytype266 @/improper:polymer/c-c3-ns-hn $/atom:polymers[15]/C8 $/atom:polymers[15]/H10 $/atom:polymers[15]/N2 $/atom:polymers[15]/C9
$/improper:bytype267 @/improper:polymer/c-c3-ns-hn $/atom:polymers[15]/C14 $/atom:polymers[15]/H20 $/atom:polymers[15]/N3 $/atom:polymers[15]/C15
$/improper:bytype268 @/improper:polymer/c-c3-ns-hn $/atom:polymers[15]/C20 $/atom:polymers[15]/H30 $/atom:polymers[15]/N4 $/atom:polymers[15]/C21
$/improper:bytype269 @/improper:polymer/c-c3-ns-hn $/atom:polymers[16]/C2 $/atom:polymers[16]/H1 $/atom:polymers[16]/N1 $/atom:polymers[16]/C3
$/improper:bytype270 @/improper:polymer/c-c3-ns-hn $/atom:polymers[16]/C8 $/atom:polymers[16]/H10 $/atom:polymers[16]/N2 $/atom:polymers[16]/C9
$/improper:bytype271 @/improper:polymer/c-c3-ns-hn $/atom:polymers[16]/C14 $/atom:polymers[16]/H20 $/atom:polymers[16]/N3 $/atom:polymers[16]/C15
$/improper:bytype272 @/improper:polymer/c-c3-ns-hn $/atom:polymers[16]/C20 $/atom:polymers[16]/H30 $/atom:polymers[16]/N4 $/atom:polymers[16]/C21
$/improper:bytype273 @/improper:polymer/c3-o-c-os $/atom:polymers[0]/C25 $/atom:polymers[0]/O17 $/atom:polymers[0]/C26 $/atom:polymers[0]/O18
$/improper:bytype274 @/improper:polymer/c3-o-c-os $/atom:polymers[0]/O22 $/atom:polymers[0]/O23 $/atom:polymers[0]/C35 $/atom:polymers[0]/C36
$/improper:bytype275 @/improper:polymer/c3-o-c-os $/atom:polymers[0]/C37 $/atom:polymers[0]/O24 $/atom:polymers[0]/C38 $/atom:polymers[0]/O25
$/improper:bytype276 @/improper:polymer/c3-o-c-os $/atom:polymers[0]/O29 $/atom:polymers[0]/O30 $/atom:polymers[0]/C47 $/atom:polymers[0]/C48
$/improper:bytype277 @/improper:polymer/c3-o-c-os $/atom:polymers[1]/C25 $/atom:polymers[1]/O17 $/atom:polymers[1]/C26 $/atom:polymers[1]/O18
$/improper:bytype278 @/improper:polymer/c3-o-c-os $/atom:polymers[1]/O22 $/atom:polymers[1]/O23 $/atom:polymers[1]/C35 $/atom:polymers[1]/C36
$/improper:bytype279 @/improper:polymer/c3-o-c-os $/atom:polymers[1]/C37 $/atom:polymers[1]/O24 $/atom:polymers[1]/C38 $/atom:polymers[1]/O25
$/improper:bytype280 @/improper:polymer/c3-o-c-os $/atom:polymers[1]/O29 $/atom:polymers[1]/O30 $/atom:polymers[1]/C47 $/atom:polymers[1]/C48
$/improper:bytype281 @/improper:polymer/c3-o-c-os $/atom:polymers[2]/C25 $/atom:polymers[2]/O17 $/atom:polymers[2]/C26 $/atom:polymers[2]/O18
$/improper:bytype282 @/improper:polymer/c3-o-c-os $/atom:polymers[2]/O22 $/atom:polymers[2]/O23 $/atom:polymers[2]/C35 $/atom:polymers[2]/C36
$/improper:bytype283 @/improper:polymer/c3-o-c-os $/atom:polymers[2]/C37 $/atom:polymers[2]/O24 $/atom:polymers[2]/C38 $/atom:polymers[2]/O25
$/improper:bytype284 @/improper:polymer/c3-o-c-os $/atom:polymers[2]/O29 $/atom:polymers[2]/O30 $/atom:polymers[2]/C47 $/atom:polymers[2]/C48
$/improper:bytype285 @/improper:polymer/c3-o-c-os $/atom:polymers[3]/C25 $/atom:polymers[3]/O17 $/atom:polymers[3]/C26 $/atom:polymers[3]/O18
$/improper:bytype286 @/improper:polymer/c3-o-c-os $/atom:polymers[3]/O22 $/atom:polymers[3]/O23 $/atom:polymers[3]/C35 $/atom:polymers[3]/C36
$/improper:bytype287 @/improper:polymer/c3-o-c-os $/atom:polymers[3]/C37 $/atom:polymers[3]/O24 $/atom:polymers[3]/C38 $/atom:polymers[3]/O25
$/improper:bytype288 @/improper:polymer/c3-o-c-os $/atom:polymers[3]/O29 $/atom:polymers[3]/O30 $/atom:polymers[3]/C47 $/atom:polymers[3]/C48
$/improper:bytype289 @/improper:polymer/c3-o-c-os $/atom:polymers[4]/C25 $/atom:polymers[4]/O17 $/atom:polymers[4]/C26 $/atom:polymers[4]/O18
$/improper:bytype290 @/improper:polymer/c3-o-c-os $/atom:polymers[4]/O22 $/atom:polymers[4]/O23 $/atom:polymers[4]/C35 $/atom:polymers[4]/C36
$/improper:bytype291 @/improper:polymer/c3-o-c-os $/atom:polymers[4]/C37 $/atom:polymers[4]/O24 $/atom:polymers[4]/C38 $/atom:polymers[4]/O25
$/improper:bytype292 @/improper:polymer/c3-o-c-os $/atom:polymers[4]/O29 $/atom:polymers[4]/O30 $/atom:polymers[4]/C47 $/atom:polymers[4]/C48
$/improper:bytype293 @/improper:polymer/c3-o-c-os $/atom:polymers[5]/C25 $/atom:polymers[5]/O17 $/atom:polymers[5]/C26 $/atom:polymers[5]/O18
$/improper:bytype294 @/improper:polymer/c3-o-c-os $/atom:polymers[5]/O22 $/atom:polymers[5]/O23 $/atom:polymers[5]/C35 $/atom:polymers[5]/C36
$/improper:bytype295 @/improper:polymer/c3-o-c-os $/atom:polymers[5]/C37 $/atom:polymers[5]/O24 $/atom:polymers[5]/C38 $/atom:polymers[5]/O25
$/improper:bytype296 @/improper:polymer/c3-o-c-os $/atom:polymers[5]/O29 $/atom:polymers[5]/O30 $/atom:polymers[5]/C47 $/atom:polymers[5]/C48
$/improper:bytype297 @/improper:polymer/c3-o-c-os $/atom:polymers[6]/C25 $/atom:polymers[6]/O17 $/atom:polymers[6]/C26 $/atom:polymers[6]/O18
$/improper:bytype298 @/improper:polymer/c3-o-c-os $/atom:polymers[6]/O22 $/atom:polymers[6]/O23 $/atom:polymers[6]/C35 $/atom:polymers[6]/C36
$/improper:bytype299 @/improper:polymer/c3-o-c-os $/atom:polymers[6]/C37 $/atom:polymers[6]/O24 $/atom:polymers[6]/C38 $/atom:polymers[6]/O25
$/improper:bytype300 @/improper:polymer/c3-o-c-os $/atom:polymers[6]/O29 $/atom:polymers[6]/O30 $/atom:polymers[6]/C47 $/atom:polymers[6]/C48
$/improper:bytype301 @/improper:polymer/c3-o-c-os $/atom:polymers[7]/C25 $/atom:polymers[7]/O17 $/atom:polymers[7]/C26 $/atom:polymers[7]/O18
$/improper:bytype302 @/improper:polymer/c3-o-c-os $/atom:polymers[7]/O22 $/atom:polymers[7]/O23 $/atom:polymers[7]/C35 $/atom:polymers[7]/C36
$/improper:bytype303 @/improper:polymer/c3-o-c-os $/atom:polymers[7]/C37 $/atom:polymers[7]/O24 $/atom:polymers[7]/C38 $/atom:polymers[7]/O25
$/improper:bytype304 @/improper:polymer/c3-o-c-os $/atom:polymers[7]/O29 $/atom:polymers[7]/O30 $/atom:polymers[7]/C47 $/atom:polymers[7]/C48
$/improper:bytype305 @/improper:polymer/c3-o-c-os $/atom:polymers[8]/C25 $/atom:polymers[8]/O17 $/atom:polymers[8]/C26 $/atom:polymers[8]/O18
$/improper:bytype306 @/improper:polymer/c3-o-c-os $/atom:polymers[8]/O22 $/atom:polymers[8]/O23 $/atom:polymers[8]/C35 $/atom:polymers[8]/C36
$/improper:bytype307 @/improper:polymer/c3-o-c-os $/atom:polymers[8]/C37 $/atom:polymers[8]/O24 $/atom:polymers[8]/C38 $/atom:polymers[8]/O25
$/improper:bytype308 @/improper:polymer/c3-o-c-os $/atom:polymers[8]/O29 $/atom:polymers[8]/O30 $/atom:polymers[8]/C47 $/atom:polymers[8]/C48
$/improper:bytype309 @/improper:polymer/c3-o-c-os $/atom:polymers[9]/C25 $/atom:polymers[9]/O17 $/atom:polymers[9]/C26 $/atom:polymers[9]/O18
$/improper:bytype310 @/improper:polymer/c3-o-c-os $/atom:polymers[9]/O22 $/atom:polymers[9]/O23 $/atom:polymers[9]/C35 $/atom:polymers[9]/C36
$/improper:bytype311 @/improper:polymer/c3-o-c-os $/atom:polymers[9]/C37 $/atom:polymers[9]/O24 $/atom:polymers[9]/C38 $/atom:polymers[9]/O25
$/improper:bytype312 @/improper:polymer/c3-o-c-os $/atom:polymers[9]/O29 $/atom:polymers[9]/O30 $/atom:polymers[9]/C47 $/atom:polymers[9]/C48
$/improper:bytype313 @/improper:polymer/c3-o-c-os $/atom:polymers[10]/C25 $/atom:polymers[10]/O17 $/atom:polymers[10]/C26 $/atom:polymers[10]/O18
$/improper:bytype314 @/improper:polymer/c3-o-c-os $/atom:polymers[10]/O22 $/atom:polymers[10]/O23 $/atom:polymers[10]/C35 $/atom:polymers[10]/C36
$/improper:bytype315 @/improper:polymer/c3-o-c-os $/atom:polymers[10]/C37 $/atom:polymers[10]/O24 $/atom:polymers[10]/C38 $/atom:polymers[10]/O25
$/improper:bytype316 @/improper:polymer/c3-o-c-os $/atom:polymers[10]/O29 $/atom:polymers[10]/O30 $/atom:polymers[10]/C47 $/atom:polymers[10]/C48
$/improper:bytype317 @/improper:polymer/c3-o-c-os $/atom:polymers[11]/C25 $/atom:polymers[11]/O17 $/atom:polymers[11]/C26 $/atom:polymers[11]/O18
$/improper:bytype318 @/improper:polymer/c3-o-c-os $/atom:polymers[11]/O22 $/atom:polymers[11]/O23 $/atom:polymers[11]/C35 $/atom:polymers[11]/C36
$/improper:bytype319 @/improper:polymer/c3-o-c-os $/atom:polymers[11]/C37 $/atom:polymers[11]/O24 $/atom:polymers[11]/C38 $/atom:polymers[11]/O25
$/improper:bytype320 @/improper:polymer/c3-o-c-os $/atom:polymers[11]/O29 $/atom:polymers[11]/O30 $/atom:polymers[11]/C47 $/atom:polymers[11]/C48
$/improper:bytype321 @/improper:polymer/c3-o-c-os $/atom:polymers[12]/C25 $/atom:polymers[12]/O17 $/atom:polymers[12]/C26 $/atom:polymers[12]/O18
$/improper:bytype322 @/improper:polymer/c3-o-c-os $/atom:polymers[12]/O22 $/atom:polymers[12]/O23 $/atom:polymers[12]/C35 $/atom:polymers[12]/C36
$/improper:bytype323 @/improper:polymer/c3-o-c-os $/atom:polymers[12]/C37 $/atom:polymers[12]/O24 $/atom:polymers[12]/C38 $/atom:polymers[12]/O25
$/improper:bytype324 @/improper:polymer/c3-o-c-os $/atom:polymers[12]/O29 $/atom:polymers[12]/O30 $/atom:polymers[12]/C47 $/atom:polymers[12]/C48
$/improper:bytype325 @/improper:polymer/c3-o-c-os $/atom:polymers[13]/C25 $/atom:polymers[13]/O17 $/atom:polymers[13]/C26 $/atom:polymers[13]/O18
$/improper:bytype326 @/improper:polymer/c3-o-c-os $/atom:polymers[13]/O22 $/atom:polymers[13]/O23 $/atom:polymers[13]/C35 $/atom:polymers[13]/C36
$/improper:bytype327 @/improper:polymer/c3-o-c-os $/atom:polymers[13]/C37 $/atom:polymers[13]/O24 $/atom:polymers[13]/C38 $/atom:polymers[13]/O25
$/improper:bytype328 @/improper:polymer/c3-o-c-os $/atom:polymers[13]/O29 $/atom:polymers[13]/O30 $/atom:polymers[13]/C47 $/atom:polymers[13]/C48
$/improper:bytype329 @/improper:polymer/c3-o-c-os $/atom:polymers[14]/C25 $/atom:polymers[14]/O17 $/atom:polymers[14]/C26 $/atom:polymers[14]/O18
$/improper:bytype330 @/improper:polymer/c3-o-c-os $/atom:polymers[14]/O22 $/atom:polymers[14]/O23 $/atom:polymers[14]/C35 $/atom:polymers[14]/C36
$/improper:bytype331 @/improper:polymer/c3-o-c-os $/atom:polymers[14]/C37 $/atom:polymers[14]/O24 $/atom:polymers[14]/C38 $/atom:polymers[14]/O25
$/improper:bytype332 @/improper:polymer/c3-o-c-os $/atom:polymers[14]/O29 $/atom:polymers[14]/O30 $/atom:polymers[14]/C47 $/atom:polymers[14]/C48
$/improper:bytype333 @/improper:polymer/c3-o-c-os $/atom:polymers[15]/C25 $/atom:polymers[15]/O17 $/atom:polymers[15]/C26 $/atom:polymers[15]/O18
$/improper:bytype334 @/improper:polymer/c3-o-c-os $/atom:polymers[15]/O22 $/atom:polymers[15]/O23 $/atom:polymers[15]/C35 $/atom:polymers[15]/C36
$/improper:bytype335 @/improper:polymer/c3-o-c-os $/atom:polymers[15]/C37 $/atom:polymers[15]/O24 $/atom:polymers[15]/C38 $/atom:polymers[15]/O25
$/improper:bytype336 @/improper:polymer/c3-o-c-os $/atom:polymers[15]/O29 $/atom:polymers[15]/O30 $/atom:polymers[15]/C47 $/atom:polymers[15]/C48
$/improper:bytype337 @/improper:polymer/c3-o-c-os $/atom:polymers[16]/C25 $/atom:polymers[16]/O17 $/atom:polymers[16]/C26 $/atom:polymers[16]/O18
$/improper:bytype338 @/improper:polymer/c3-o-c-os $/atom:polymers[16]/O22 $/atom:polymers[16]/O23 $/atom:polymers[16]/C35 $/atom:polymers[16]/C36
$/improper:bytype339 @/improper:polymer/c3-o-c-os $/atom:polymers[16]/C37 $/atom:polymers[16]/O24 $/atom:polymers[16]/C38 $/atom:polymers[16]/O25
$/improper:bytype340 @/improper:polymer/c3-o-c-os $/atom:polymers[16]/O29 $/atom:polymers[16]/O30 $/atom:polymers[16]/C47 $/atom:polymers[16]/C48
